body{
    background-color: whitesmoke;
    color: darkslateblue;
    margin: 0;
}
header{
    height: 75px;
    padding: 25px;
    box-shadow: 0px 3px 7px lightgrey ;
    text-align: center;
}
.particion{
    display: inline-block;
    width: 32%;
    height: 45vh;
    border: 1px solid lightslategray;
    margin: 0;
    vertical-align: top;
}
#objeto{
    margin-left: 1%;
    background-image: url("images/movil.png");
    background-position: center;
    background-repeat: no-repeat;
   
}
video{
    width: 31%;
    height: 23vh;
    margin-top: 21%;
    margin-left: 34%;
}
h3{
    margin: 0;
    text-align: center;
}
button{
    margin-left: 15px;
}
footer, .pie{
    display: inline-block;
    vertical-align: middle;
    padding-left: 25px;
}